<div class="container blog-container">
	<h1>uKnowHealth: Startup Weekend Hackout Project</h1>
	<div class="page-nav-options">
		<div ng-click="go('/developer')" class="header-back-link" tabindex=0 ng-keydown="($event.which === 13) && go('/developer')">Back</div>
	</div>
	<hr>
	<em>uKnowHealth is an Angular, web application aimed at simplifying health care results data for easier patient access and learning.
		This project is unique and special to me, because I had to learn the opposite of what I normally do as an individual contributor
		(developer/designer). Instead, I learned how to create and manage a business with a UX problem I had a vision to solve.
	</em>

	<br>
	<br>
	<table class="highlight responsive-table">
		<thead>
			<tr>
				<b>PROJECT DETAILS</b>
			</tr>
		</thead>

		<tbody>
			<tr>
				<td>Need: </td>
				<td> The general population is unable to easily access accurate health information. Searching online for health information
					is the most well-adopted digital health category, with 40% of those who search acting directly upon what they find.</td>
			</tr>
			<tr>
				<td>Objective:</td>
				<td>Enable the general population to receive health care results explained in a simple, meaningful manner.</td>

			</tr>
			<tr>
				<td>Approach:</td>
				<td>Developed web application that is simple, free, and efficient to use.</td>
			</tr>
			<tr>
				<td>Project Duration:</td>
				<td>3 days; Summer 2017</td>
			</tr>
			<tr>
				<td>Group Members:</td>
				<td>Joanne Bruno (CEO), Jeremy Cantu (CTO), Lauren Welch (COO), Ana Cruz (Developer), Ivan Lopez (Lopez), Rob Quinn (Developer)</td>
			</tr>
			<tr>
				<td>My Role(s):</td>
				<td>CEO, Project Champion, Speaker (for project pitch to investors panel)</td>
			</tr>
			<tr>
				<td>Final Result:</td>
				<td>
					Angular 2 Web application functional prototype delivered. Project pitch to mock investor panel received overwhelmingly positive
					feedback. Traction was gained with several existing healthcare companies.
				</td>
			</tr>
		</tbody>
	</table>
	<br>
	<hr>
	<h4>Process</h4>

	<p>In the healthcare industry, I find it increasingly complex to manage and understand my health care data. Before the vision
		for uKnowHealth occured to me, I had a close relative almost missed a very important abnormality on their health care lab
		result data (sent via patient portal), which could have been found more quickly if the data was reviewied digitally and
		translated to a more meaningful result. Luckily, this relative is has a professional degree in medicine, and was able to
		understand her health care results and notify the doctor for a follow up. Their advanced health literacy saved their life.
		<br>
		<br> This situation gave me the following questions: What if this patient had not had the health literacy to be able to understand
		this data? How can we better enable the general population to increase their health literacy and understand their health
		care results?</p>

	<h5>I. Plan, Identify, Understand</h5>
	<p>
		At startup weekend Hackout, I created a balanced team of strong developers, and a subject matter expert in healthcare. After
		working through some market research, we found a few interesting points that we wanted to expand on:
		<br>
		<br> (1) Searching online for health information is the most well-adopted digital health category, with 40% of those who search
		acting directly upon what they find.
		<br> (2) There has been a steady increase in mis diagnoses in recent years. Majority of diagnostic errors could have been prevented
		if an AI tool could analyze systems and help doctors arrive at a diagnoses.


		<br>
		<br> We put these ideas to the test by conducting a survey in the Austin Domain area. We wanted to identify basic health literacy
		and where the users go to understand their numbers. Through this study, out of 26 responses, over 61% of patients attempt
		to search online for more information on their healthcare results. We identified that the majority of respondees were not
		able to identify what level of blood sugar or cholestoral is high, indicating lower health literacy than expected. When
		prompted if they would pay for a service that allowed them to better understand their medical information, about 50% suggested
		that it cost between $15-$90 per month, and others suggested it be free.
		<br>
		<br> Based on our findings, our team worked together to develop wireframes for a web application that would allow the use to
		receive more meaningful results based on their health care data results. The user enters a query of a medical term such
		as "cholesterol" and enters their data from their most recent lab result, including standardization infomration such as
		sex, age, etc. The application then lists a visualization slider with color indication of the result based on how it falls
		within the data values for their selection. Based on their result, articles or futher information from partnerships will
		show at the bottom of the screen to further educate patient on what their results mean.

		<img class="materialboxed responsive-img" style="width:50%" data-caption="Questions" src="dist/images/developer/uknowHealth/designing.png"
		 alt="Design" />
		<br>


	</p>

	<h5>II. Create Business Case</h5>

	<p>Team member Lauren Welch and I ran through our business model to solidify our vision and marketable value. This was a challenging
		exercise that thoroughly helped me understand what UX problem we are trying to solve and who is it really going to help.
		I want to use this same methodology for any problem I solve going forward to focus in on the problem statement, use case,
		and have a solid deliverable.</p>
	<div class="responsive-img-text">
		<img class="materialboxed responsive-img" data-caption="Questions" src="dist/images/developer/uknowHealth/businesscase2.PNG"
		 alt="Final Solution" />
		<img class="materialboxed responsive-img" data-caption="Questions" src="dist/images/developer/uknowHealth/businesscase1.PNG"
		 alt="Final Solution" />
	</div>
	<br>

	<h5>III. Development</h5>

	<p>As the team consisted of members with varying degrees of development experience and fields of expertise, it was decided
		upon to utilize the
		<a href="https://angular.io/" target="_blank" rel="noreferrer noopener">Angular 2</a> library for creation of the high-fidelity prototype. The library's component-based workflow allowed members
		to quickly ideate, create, and integrate each particular slice of "functionality" for the prototype, as well as give the
		opportunity for the team to get familiar with a relatively cutting edge web-development toolset. This included using the
		<a href="https://cli.angular.io/" target="_blank" rel="noreferrer noopener">Angular CLI</a> for extremely quick boilerplate code creation, as well as the
		<a href="https://material.angular.io/" target="_blank"
		 rel="noreferrer noopener">Angular Material</a> library and design system to derive much of our end-user interface. The below walk-through showcases
		some of the prototype presented: </p>

	<div class="responsive-img-text">
		<img class="materialboxed responsive-img" data-caption="Questions" src="dist/images/developer/uknowHealth/healthuno.gif"
		 alt="Final Solution" />
		<p>Final Solution</p>
	</div>

	<h5>IV. Evaluate</h5>
	<p>I delivered a 5 minute pitch to a mock investors panel. The judges asked us many questions on how we were going to get this
		item to market, knowing that the healthcare industry is highly complex versus other industries. The judges were impressed
		on how much we delivered over the course of a weekend versus the other teams.
		<img class="materialboxed responsive-img" style="width:50%" data-caption="Pitching to Mock Investors Panel" src="dist/images/developer/uknowHealth/answering_questions.jpg"
		 alt="Final Solution" />
		<br> Overall, we developed a recognized business model, a functional prototype for a web application, a successul project pitch.
		The biggest challenge was narrowing down the scope of the project to a single, solidified idea that the end user would
		find valuable. However, we overcame this through extensive market research and entrepreneurial exercises. I firmly believe
		that our final product deliverable will help health care results be made simple and meaningful.

		<img class="materialboxed responsive-img" style="width:50%" data-caption="Great Team" src="dist/images/developer/uknowHealth/awesome_team.jpg"
		 alt="Great Team" />
	</p>


	<p>Thank you for reading! If this work interested you, check out some of my other projects in healthcare, such as
		<a ng-click="go('/medidata')">Medidata</a>
	</p>
	<div class="page-nav-options">
		<div ng-click="backToTop()" class="scroll-top-link">Back to Top</div>
	</div>