<div class="container blog-container">
	<h1>Keep My Casa</h1>
	<div class="page-nav-options">
		<div ng-click="go('/developer')" class="header-back-link" tabindex=0 ng-keydown="($event.which === 13) && go('/developer')">Back</div>
	</div>
	<hr>

	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quis suscipit ex, id ultrices lacus. Maecenas feugiat blandit massa, malesuada semper mauris vulputate vitae. Duis id leo egestas, lacinia nisl sed, ultricies est. <a href="https://github.com/" target="_blank" rel="noopener noreferrer">Praesent pellentesque fringilla justo</a>, lacinia iaculis velit volutpat vel. Aliquam luctus et quam at varius. Phasellus in elit ultrices, fringilla felis eu, pellentesque est. Ut faucibus tempus dui nec finibus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Suspendisse in ante euismod, ultricies sem non, vestibulum turpis. Pellentesque non ultrices felis, id volutpat magna. Quisque pulvinar nunc ut pharetra commodo.</p>

	<div class = "responsive-img-text">
		<img class = "materialboxed responsive-img" data-caption = "Demo Photo One" src = "dist/images/photographer/photos/demo-photo-one.jpg" alt="Demo Photo One"/>
		<p>Demo Photo One</p>
	</div>

	<div class="page-nav-options">
		<div ng-click="backToTop()" class="scroll-top-link">Back to Top</div>
	</div>
</div>