<div class="container blog-container">
	<h1>Keep My Casa: ATX Hack for Change Project to Explore Community Problem and Identify a Software Solution</h1>
	<div class="page-nav-options">
		<div ng-click="go('/developer')" class="header-back-link" tabindex=0 ng-keydown="($event.which === 13) && go('/developer')">Back</div>
	</div>
	<hr>
	<em>Keep My Casa is a mobile-first, web application developed to help Austin, Texas residents with rising property taxes keep
		their homes.</em>

	<br>
	<br>
	<table class="highlight responsive-table">
		<thead>
			<tr>
				<b>PROJECT DETAILS</b>
			</tr>
		</thead>

		<tbody>
			<tr>
				<td>Need:</td>
				<td>Property taxes are rising at a rapid rate in Austin. Many homeowners losing their properties due to this spike are low-income,
					low-literacy, or retired. There are resources available to help these individuals, but this information is not readily
					accessible or is hard to navigate to. Many of these users access their information through mobile devices.</td>
			</tr>
			<tr>
				<td>Objective:</td>
				<td>Design a mobile-first, web application prototype that will conversationally guide an individual at risk of losing their
					property to the information that they need based on their background.</td>

			</tr>
			<tr>
				<td>Approach:</td>
				<td>We identified how to design for the target market, typically low-literacy users. We studied usability techniques and
					how to translate them into our final functional prototype. </td>
			</tr>
			<tr>
				<td>Project Duration:</td>
				<td>2 weeks; Summer 2017; To Be Continued in 2018</td>
			</tr>
			<tr>
				<td>Group Members:</td>
				<td>Joanne Bruno, Jeremy Cantu, Kaitlyn Clark, Jim Given, Jess Sauer</td>
			</tr>
			<tr>
				<td>My Role(s):</td>
				<td>UI/UX Designer, Front-End Developer</td>
			</tr>
			<tr>
				<td>Final Result:</td>
				<td>We delivered a mobile-first, web application functional prototype that is WCAG 2.0/Section 508 compliant (web accessibility
					guidelines). Project won "Best Design" award at hackathon. Project afterwards was presented in front of city leaders
					at Austin Open Civic Meetup.
				</td>
			</tr>
		</tbody>
	</table>
	<br>
	<hr>
	<h4>UX Process</h4>
	<h5>I. Plan, Identify, Understand</h5>
	<p>Austin, Texas in recent years has had a sharp increase in property taxes, sometimes at 25 to 30 percent. For some homeowners,
		especially those who are low-income, elderly, or retired, this increase is forcing them to sell or leave their properties.
		At the time of the project, there are many resources available online for property owners at risk for losing their homes.
		However, this information is scattered across various sites, not readily accessible, and can be cumbersome for the homeowner
		to narrow down to their specific needs. We created the Keep My Casa web application to help address this civic need.
		<div class="responsive-img-text">
			<img class="materialboxed responsive-img" data-caption="Housing Programs" src="dist/images/developer/keepmycasa/housing_programs.PNG"
			 alt="Housing Programs" />

		</div>

	</p>
	<h5>II. Iterative Design</h5>
	<p>After compiling list of resources into an excel document, and identifying the target audience, our team collectively whiteboarded
		a user flow of question prompts to direct the homeowner to customized results based on their responses. Through our market
		research, we identified that typically low-income or low-literate users prefer a "chat" interface and have higher access
		to a mobile interface versus a desktop. Therefore we geared our flow to be more conversational and simplified.
		<div class="responsive-img-text">
			<img class="materialboxed responsive-img" data-caption="User flow diagram" src="dist/images/developer/keepmycasa/keep_my_casa.map.svg"
			 alt="User flow diagram" />
		</div>
	</p>
	<p>Before beginning the development phase, a mock form was created based on the designed flow. We consulted with industry experts
		in this area to better adjust the language used and iterate on simplification of the UI. The biggest challenge was reducing
		the complexity of the question selection processes, as this task can be difficult for novice tech users.
		<div class="responsive-img-text center-img">
			<img class="materialboxed responsive-img" data-caption="Mockups V2" src="dist/images/developer/keepmycasa/mockUIFlow.gif"
			 alt="Mockups V2" />

		</div>
	</p>
	<p>After completing the mockups, I designed our logo going forward to symbolize the support and strength we wish to provide
		through this service, at their time of need. At this point we chose our name to be the bilingual title: "Keep My Casa",
		since through our research we discovered that the majority of those at risk of losing their homes in Austin, Texas are hispanic.
		In future work, I hope to fully translate our application to Spanish to better accommodate those users.
		<div class="responsive-img-text">
			<img class="materialboxed responsive-img" data-caption="Logo Design" src="dist/images/developer/keepmycasa/kmcLogo.svg" alt="Logo Design"
			/>

		</div>
	</p>
	<h5>III. Development</h5>
	<p>The wireframes were translated into a fully functional, mobile-first, web application the aligned with our user flow mockup.
		The UI was developed using AngularJS, AngularJs Material, HTML, and CSS. This technology stack enabled the developers to
		quickly prototype the app while keeping design consistency in mind.</p>
	<div class="responsive-img-text">
		<div class="row">
			<img class="materialboxed responsive-img project-img" data-caption="Landing Page" src="dist/images/developer/keepmycasa/127.0.0.1_8080_(iPhone 8 Plus).png"
			 alt="Landing Page" />
			<img class="materialboxed responsive-img project-img" data-caption="Question" src="dist/images/developer/keepmycasa/127.0.0.1_8080_(iPhone 8 Plus) (5).png"
			 alt="Question" />
			<img class="materialboxed responsive-img project-img" data-caption="End Result" src="dist/images/developer/keepmycasa/127.0.0.1_8080_(iPad).png"
			 alt="End Result" />
		</div>
	</div>

	<h5>IV. Evaluate</h5>
	<p>Through Keep My Casa, I learned the value of keeping accessibility and design in mind for low-literate, tech novice, or elderly
		users. I now apply web accessibility guideline principles <a href="https://www.w3.org/WAI/intro/wcag" target="_blank" rel="noreferrer noopener">(WCAG)</a> through my more recent projects, as they enable the general
		population to have a greater experience with your app.
		<br>
		<br> This project was awarded best design at the hackathon, for its use of accessibility principles with the end user in mind
		and its overall visual aesthetic.
		<br>
		<br> This project was later presented in front of city representatives at a Open Austin Civic meetup. For future work, we hope
		to solidify a minimum viable product that can be released to the public.
	</p>
	<div class="responsive-img-text">
		<img class="materialboxed responsive-img" data-caption="Presentation and Future Work" src="dist/images/developer/keepmycasa/kmc_presentation.PNG"
		 alt="Final Solution" />
	</div>
	<div class="responsive-img-text">
		<img class="materialboxed responsive-img" data-caption="Great Team" src="dist/images/developer/keepmycasa/kmc_working.PNG"
		 alt="Great Team" />
			<p>Thank you for reading! If this work interested you, check out some other projects I have been up to 
				<a ng-click="go('/developer')">here</a>
			</p>
	</div>


	<div class="page-nav-options">
		<div ng-click="backToTop()" class="scroll-top-link">Back to Top</div>
	</div>
</div>