<div class="container blog-container">
	<h1>Keep My Casa: ATX Hack for Change Project to Explore Community Problem and Identify a Software Solution</h1>
	<div class="page-nav-options">
		<div ng-click="go('/developer')" class="header-back-link" tabindex=0 ng-keydown="($event.which === 13) && go('/developer')">Back</div>
	</div>
	<hr>
	<em>Keep My Casa is a mobile-first, web application developed to help Austin, Texas residents with rising property taxes keep
		their homes.</em>

	<br>
	<br>
	<table class="highlight responsive-table">
		<thead>
			<tr>
				<b>PROJECT DETAILS</b>
			</tr>
		</thead>

		<tbody>
			<tr>
				<td>Need:</td>
				<td>Property taxes are rising at a rapid rate in Austin. Many homeowners losing their properties due to this spike are low-income,
					low-literacy, or retired. There are resources available to help these individuals, but this information is not readily
					accessible or is hard to navigate to. Many of these users access their information through mobile devices.</td>
			</tr>
			<tr>
				<td>Objective:</td>
				<td>Design a mobile-first, web application prototype that will conversationally guide an individual at risk of losing their
					property to the information that they need based on their background.</td>

			</tr>
			<tr>
				<td>Approach:</td>
				<td>We identified how to design for the target market, typically low-literacy users. We studied usability techniques and
					how to translate them into our final functional prototype. </td>
			</tr>
			<tr>
				<td>Project Duration:</td>
				<td>2 weeks; Summer 2017; To Be Continued in 2018</td>
			</tr>
			<tr>
				<td>Group Members:</td>
				<td>Joanne Bruno, Jeremy Cantu, Kaitlyn Clark, Jim Given, Jess Sauer</td>
			</tr>
			<tr>
				<td>My Role(s):</td>
				<td>UI/UX Designer, Front-End Developer</td>
			</tr>
			<tr>
				<td>Final Result:</td>
				<td>We delivered a mobile-first, web application functional prototype that is WCAG 2.0/Section 508 compliant (web accessibility
					guidelines). Project won "Best Design" award at hackathon. Project afterwards was presented in front of city leaders
					at Ausitn Open Civic Meetup.
				</td>
			</tr>
		</tbody>
	</table>
	<br>
	<hr>
	<h4>UX Process</h5>
		<h5>I. Plan, Identify, Understand</h6>
			<div class="responsive-img-text">
				<img class="materialboxed responsive-img" data-caption="Housing Programs" src="dist/images/developer/keepmycasa/housing_programs.PNG"
				 alt="Data Sample" />
				<p>Housing Programs -> Theres alot of data</p>
			</div>

			<h5>II. Iterative Design</h6>

				<div class="responsive-img-text">
					<img class="materialboxed responsive-img" data-caption="Mockups V1" src="dist/images/developer/keepmycasa/keep_my_casa.map.svg"
					 alt="Mockups V1" />
					<p>Flow Diagram</p>
				</div>
				<div class="responsive-img-text">
					<img class="materialboxed responsive-img" data-caption="Mockups V2" src="dist/images/developer/keepmycasa/mockUIFlow.gif"
					 alt="Mockups V2" />
					<p>Interactive Mockup To Test Flow Diagram</p>
				</div>
				<div class="responsive-img-text">
					<img class="materialboxed responsive-img" data-caption="Logo Design" src="dist/images/developer/keepmycasa/kmcLogo.svg" alt="Logo Design"/>
					<p>Logo Design</p>
				</div>

				<h5>III. Development</h6>
					<div class="responsive-img-text">
						<img class="materialboxed responsive-img" data-caption="Landing Page" src="dist/images/developer/keepmycasa/landing_(iPad).png"
						 alt="Final Solution" />
						<p>Landing Page</p>
					</div>
					<div class="responsive-img-text">
						<img class="materialboxed responsive-img" data-caption="Questions" src="dist/images/developer/keepmycasa/Q1_(iPad).png" alt="Final Solution"
						/>
						<p>Questions</p>
					</div>

					<h5>IV. Evaluate</h6>
						<div class="responsive-img-text">
							<img class="materialboxed responsive-img" data-caption="Presentation and Future Work" src="dist/images/developer/keepmycasa/kmc_presentation.PNG"
							 alt="Final Solution" />
							<p>Presentation and Future Work</p>
						</div>
						<div class="responsive-img-text">
							<img class="materialboxed responsive-img" data-caption="Great Team" src="dist/images/developer/keepmycasa/kmc_working.PNG"
							 alt="Great Team" />
							<p>Great Team!</p>
						</div>
</div>