<div class="container blog-container">
	<h1>uKnowHealth: Startup Weekend Hackout Project</h1>
	<div class="page-nav-options">
		<div ng-click="go('/developer')" class="header-back-link" tabindex=0 ng-keydown="($event.which === 13) && go('/developer')">Back</div>
	</div>
	<hr>
	<em>uKnowHealth is an Angular, web application aimed at simplifying health care results data for easier patient access and learning.</em>

	<br>
	<br>
	<table class="highlight responsive-table">
		<thead>
			<tr>
				<b>PROJECT DETAILS</b>
			</tr>
		</thead>

		<tbody>
			<tr>
				<td>Need: </td>
				<td> The general population is unable to easily access accurate health information. Searching online for health information
					is the most well-adopted digital health category, with 40% of those who search acting directly upon what they find.</td>
			</tr>
			<tr>
				<td>Objective:</td>
				<td>Enable the general population to receive health care results explained in a simple, meaningful manner.</td>

			</tr>
			<tr>
				<td>Approach:</td>
				<td>Developed web application that is simple, free, and efficient to use.</td>
			</tr>
			<tr>
				<td>Project Duration:</td>
				<td>3 days; Summer 2017</td>
			</tr>
			<tr>
				<td>Group Members:</td>
				<td>Joanne Bruno (CEO), Jeremy Cantu (CTO), Lauren Welch (COO), Ana Cruz (Developer), Ivan Lopez (Lopez), Rob Quinn (Developer)</td>
			</tr>
			<tr>
				<td>My Role(s):</td>
				<td>CEO, Project Champion, Speaker (for project pitch to investors panel)</td>
			</tr>
			<tr>
				<td>Final Result:</td>
				<td>
					Angular 2 Web application functional prototype delivered. Project pitch to mock investor panel received overwhelmingly positive
					feedback. Traction was gained with several existing healthcare companies.
				</td>
			</tr>
		</tbody>
	</table>
	<br>
	<hr>
	<h4>UX Process</h4>
	<h5>I. Plan, Identify, Understand</h5>

	<h5>II. Iterative Design</h5>

	<h5>III. Development</h5>
	<div class="responsive-img-text">
		<img class="materialboxed responsive-img" data-caption="Questions" src="dist/images/developer/uKnowHealth/healthuno.gif"
		 alt="Final Solution" />
		<p>Final Solution</p>
	</div>

	<h5>IV. Evaluate</h5>
	<div class="responsive-img-text">
		<img class="materialboxed responsive-img" data-caption="Pitching to Mock Investors Panel" src="dist/images/developer/uKnowHealth/answering_questions.jpg"
		 alt="Final Solution" />
		<p>Pitching to Mock Investors Panel</p>
	</div>
	<div class="responsive-img-text">
		<img class="materialboxed responsive-img" data-caption="Great Team" src="dist/images/developer/uKnowHealth/awesome_team.jpg"
		 alt="Great Team" />
		<p>Great Team!</p>
	</div>