<div class="fixed-action-btn horizontal click-to-toggle" ng-keydown="($event.which === 13) && activate($event)">
	<a class="btn-floating btn-large">
		<i class="zmdi zmdi-plus"></i>
	</a>
	<ul>
		<li>
			<a class="btn-floating red" href="mailto:mail@joannebruno.com" tabindex=0>
				<i class="zmdi zmdi-email"></i>
				<span class="sr-only">E-Mail address</span>
			</a>
		</li>
		<li>
			<a class="btn-floating black" href="https://github.com/joannenbruno" target="_blank" rel="noopener noreferrer" tabindex=0>
				<i class="zmdi zmdi-github"></i>
				<span class="sr-only">GitHub</span>
			</a>
		</li>
		<li>
			<a class="btn-floating blue" href="https://www.linkedin.com/in/joannenbruno/" target="_blank" rel="noopener noreferrer" tabindex=0>
				<i class="zmdi zmdi-linkedin-box"></i>
				<span class="sr-only">LinkedIn</span>
			</a>
		</li>
		<!-- <li>
			<a class="btn-floating amber" href="dist/images/developer/documents/jnbruno.pdf" target="_blank" rel="noopener noreferrer"
			 tabindex="0">
				<i class="zmdi zmdi-file-text"></i>
				<span class="sr-only">Resume</span>
			</a>
		</li> -->
	</ul>
</div>

<header class="header-dev">
	<div>
		<img class="headshot-dev" src="dist/images/developer/joanne_dev.jpg" alt="headshot-dev" />
		<h1>Joanne Bruno</h1>
		<a class="dev-button" href="https://github.com/joannenbruno" rel="noopener noreferrer">UX Designer / Developer</a>
	</div>
</header>

<div class="container">

	<!-- Switch -->
	<div class="switch">
		<label ng-click="go('/artist')">
			Design Dev
			<input type="checkbox">
			<span class="lever"></span>
			Artist
		</label>
	</div>

	<h1>Selection of Projects</h1>
	<hr>

	<!-- Project Cards -->
	<div class="row">
		<!-- Project One: Medidata -->
		<div class="col s12 m6">

			<div class="card sticky-action medium hoverable">

				<div class="card-image waves-effect waves-block waves-light">
					<img class="activator" src="dist/images/developer/medidata/patient_profile.png" alt="Medidata">
				</div>

				<div class="card-content">
					<span class="card-title activator grey-text text-darken-4">Medidata
						<i class="zmdi zmdi-more pull-right"></i>
					</span>
					<p>Interactive Electronic Health Record that simplifies patient medical record data to reduce doctor wait times.</p>
				</div>

				<div class="card-action">
					<a href="https://youtu.be/YjVDjoImKgs" target="_blank" rel="noopener noreferrer">Demo</a>
					<a class="more-info-link" ng-click="go('/medidata')" tabindex="0" ng-keydown="($event.which === 13) && go('/demo-project')">More information...</a>
				</div>

				<div class="card-reveal">
					<span class="card-title grey-text text-darken-4">About Medidata
						<i class="zmdi zmdi-close pull-right"></i>
					</span>
					<p>Interactive Electronic Health Record (iEHR) Senior Capstone Project aimed at organizing data in a more informative and
						accesible way, reducing doctor wait times and improving accurate patient diagnoses.
						<br>
						<br>
						<b>My Role(s):</b> UI/UX Designer, Front-end Developer, Project Manager
						<br>
						<br>
						<b>Technologies utilized:</b>
						<br>Adobe Illustrator
						<br>HTML5/CSS3
						<br>JavaScript
						<br>AngularJS</p>
					<p class="card-link more-info-link">
						<a ng-click="go('/medidata')">Click here to learn about the development process...</a>
					</p>
				</div>

			</div>

		</div>
		<!-- Project Two: Keep My Casa -->
		<div class="col s12 m6">

			<div class="card sticky-action medium hoverable">

				<div class="card-image waves-effect waves-block waves-light">
					<img class="activator" src="dist/images/developer/keepmycasa/landing.PNG" alt="Keep My Casa">
				</div>

				<div class="card-content">
					<span class="card-title activator grey-text text-darken-4">Keep My Casa
						<i class="zmdi zmdi-more pull-right"></i>
					</span>
					<p>Mobile first, web application helping Texas residents with rising property taxes keep their homes.</p>
				</div>

				<div class="card-action">
					<a href="https://github.com/jimgiven/housing-assistance" target="_blank" rel="noopener noreferrer">GitHub Repository</a>
					<a class="more-info-link" ng-click="go('/keep-my-casa')" tabindex="0" ng-keydown="($event.which === 13) && go('/keep-my-casa')">More information...</a>
				</div>

				<div class="card-reveal">
					<span class="card-title grey-text text-darken-4">Description
						<i class="zmdi zmdi-close pull-right"></i>
					</span>
					<p>Web application aimed at helping Austin, Texas residents with rising property taxes keep their homes.
						<br>
						<br>
						<p class="card-link more-info-link">
							<a ng-click="go('/keep-my-casa')">Click here to learn about the development process...</a>
						</p>
				</div>

			</div>

		</div>
		<!-- Project Three: Sickbay Viz -->
		<div class="col s12 m6">

			<div class="card sticky-action medium hoverable">

				<div class="card-image waves-effect waves-block waves-light">
					<img class="activator" src="dist/images/developer/sickbay/sickbay_main.PNG" alt="Demo Project Two">
				</div>

				<div class="card-content">
					<span class="card-title activator grey-text text-darken-4">Sickbay
						<i class="zmdi zmdi-more pull-right"></i>
					</span>
					<p>Data.gov health care cost data vizualization using D3.js aimed at better informing trends of rising health care costs
						by state and by illness.</p>
				</div>

				<div class="card-action">
					<a href="https://github.com/joannenbruno/sickbay-viz" target="_blank" rel="noopener noreferrer">GitHub Repository</a>
					<a href="https://joannenbruno.github.io/sickbay-viz/" target="_blank" rel="noopener noreferrer">Site</a>
					<a class="more-info-link" ng-click="go('/sickbay')" tabindex="0" ng-keydown="($event.which === 13) && go('/demo-project-two')">More information...</a>
				</div>

				<div class="card-reveal">
					<span class="card-title grey-text text-darken-4">Description
						<i class="zmdi zmdi-close pull-right"></i>
					</span>
					<p>Data.gov health care cost data vizualization using D3.js aimed at better informing trends of rising health care costs
						by state and by illness.
						<br>
						<br> Live site:
						<a href="https://joannenbruno.github.io/sickbay-viz/" target="_blank" rel="noopener noreferrer">https://joannenbruno.github.io/sickbay-viz/</a>
						<br>
						<br> Technologies utilized:
						<br> HTML5
						<br>CSS3
						<br>JavaScript
						<br>AngularJS
						<br>Materialize</p>
					<p class="card-link more-info-link">
						<a ng-click="go('/sickbay')">Click here to learn about the development process...</a>
					</p>
				</div>

			</div>

		</div>

		<!-- Project Four uKnowHealth -->
		<div class="col s12 m6">

			<div class="card sticky-action medium hoverable">

				<div class="card-image waves-effect waves-block waves-light">
					<img class="activator" src="dist/images/developer/uknowHealth/uKnowHealth.PNG" alt="uKnowHealth">
				</div>

				<div class="card-content">
					<span class="card-title activator grey-text text-darken-4">uKnowHealth
						<i class="zmdi zmdi-more pull-right"></i>
					</span>
					<p>Web application aimed at simplifying health care data results for easier access and learning.</p>
				</div>

				<div class="card-action">
					<a href="https://github.com/Jac21/uKnowHealth" target="_blank" rel="noopener noreferrer">GitHub Repository</a>
					<a class="more-info-link" ng-click="go('/u-know-health')" tabindex="0" ng-keydown="($event.which === 13) && go('/demo-project-two')">More information...</a>
				</div>

				<div class="card-reveal">
					<span class="card-title grey-text text-darken-4">Description
						<i class="zmdi zmdi-close pull-right"></i>
					</span>
					<p>Web tool aimed at simplifying health care data
						<br>
						<br>Role(S): Project Champion, Chief Executive Officer, Speaker (gave pitch to mock investors panel)
						<br>
						<br>Technologies utilized:
						<br>HTML5
						<br>CSS3
						<br>JavaScript
						<br>Angular 2
						<br>Angular Material</p>
					<p class="card-link more-info-link">
						<a ng-click="go('/u-know-health')">Click here to learn about the development process...</a>
					</p>
				</div>

			</div>

		</div>

	</div>

	<div class="row">

		<h1>Talks and Presentations</h1>
		<hr>

		<div class="col s12 m12 talk-div">
			<a href="https://joannenbruno.github.io/Presentations/HourOfCode/#/" target="_blank" rel="noopener noreferrer">
				<img class="responsive-img z-depth-2 talk-image center-img" src="dist/images/developer/presentations/JoanneHourOfCode.PNG"
				 alt="Superpowers Hour of Code Presentation" />
			</a>
			<br>
			<p class="footer-links">Joanne Bruno, 2018
				<br>
				<a href="mailto:mail@joannebruno.com" target="_blank" rel="noopener noreferrer">E-mail |</a>
				<a href="https://github.com/joannenbruno" target="_blank" rel="noopener noreferrer">Github |</a>
				<a href="https://www.linkedin.com/in/joannenbruno/" target="_blank" rel="noopener noreferrer">LinkedIn |</a>
				<a href="dist/images/developer/documents/jnbruno.pdf" download>Resume</a>
			</p>
		</div>

	</div>

</div>