<div class="fixed-action-btn horizontal click-to-toggle" ng-keydown="($event.which === 13) && activate($event)">
  <a class="btn-floating btn-large">
    <i class="zmdi zmdi-plus"></i>
  </a>
  <ul>
    <li><a class="btn-floating red" href="#" tabindex=0><i class="zmdi zmdi-email"></i><span class="sr-only">E-Mail address</span></a></li>
    <li><a class="btn-floating amber" href="#" target="_blank" rel="noopener noreferrer" tabindex=0><i class="zmdi zmdi-file-text"></i><span class="sr-only">Online resume site</span></a></li>
    <li><a class="btn-floating black" href="#" target="_blank" rel="noopener noreferrer" tabindex=0><i class="zmdi zmdi-github"></i><span class="sr-only">GitHub</span></a></li>
    <li><a class="btn-floating blue" href="#" target="_blank" rel="noopener noreferrer" tabindex=0><i class="zmdi zmdi-linkedin-box"></i><span class="sr-only">LinkedIn</span></a></li>
  </ul>
</div>

<header class="header-dev">
	<div>
		<img class="headshot-dev" src="dist/images/developer/headshot-dev.png" alt="headshot-dev"/>
		<h1>Your Name Here</h1>
		<a href="#" target="_blank" rel="noopener noreferrer">Software Developer</a>
	</div>
</header>

<div class = "container">

  <!-- Switch -->
  <div class="switch">
    <label ng-click="go('/photographer')">
      Developer  
      <input type="checkbox">
     <span class="lever"></span>
      Photographer
    </label>
  </div>

  <h1>Selection of Projects</h1>
  <hr>

	<!-- Project Cards -->
	<div class="row">

		<div class="col s12 m6">

			<div class="card sticky-action medium hoverable">

		    <div class="card-image waves-effect waves-block waves-light">
		      <img class="activator" src="dist/images/photographer/photos/demo-photo-one.jpg" alt="Demo Project One">
		    </div>

		    <div class="card-content">
		      <span class="card-title activator grey-text text-darken-4">Demo Project One<i class="zmdi zmdi-more pull-right"></i></span>
		      <p>Lorem ipsum dolor sit amet</p>
		    </div>

		    <div class="card-action">
        	<a href="#" target="_blank" rel="noopener noreferrer">GitHub Repository</a>
		      <a class="more-info-link" ng-click="go('/demo-project')" tabindex=0 ng-keydown="($event.which === 13) && go('/demo-project')">More information...</a>
        </div>

		    <div class="card-reveal">
		      <span class="card-title grey-text text-darken-4">Description<i class="zmdi zmdi-close pull-right"></i></span>
		      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.. <br><br>
Live site: <a href="#" target="_blank" rel="noopener noreferrer">https://jac21.github.io/FolioGeneric/</a> <br><br> Technologies utilized: <br> HTML5<br>CSS3<br>JavaScript<br>AngularJS<br>Materialize</p>
					<p class="card-link more-info-link"><a ng-click="go('/demo-project')">Click here to learn about the development process...</a></p>
		    </div>

		  </div>

		</div>

	  <div class="col s12 m6">

	  	<div class="card sticky-action medium hoverable">

		    <div class="card-image waves-effect waves-block waves-light">
		      <img class="activator" src="dist/images/photographer/photos/demo-photo-two.jpg" alt="Demo Project Two">
		    </div>

		    <div class="card-content">
		      <span class="card-title activator grey-text text-darken-4">Demo Project Two<i class="zmdi zmdi-more pull-right"></i></span>
		      <p>Lorem ipsum dolor sit amet</p>
		    </div>

		    <div class="card-action">
        	<a href="#" target="_blank" rel="noopener noreferrer">GitHub Repository</a>
		      <a class = "more-info-link" ng-click="go('/demo-project-two')" tabindex=0 ng-keydown="($event.which === 13) && go('/demo-project-two')">More information...</a>
        </div>

		    <div class="card-reveal">
		      <span class="card-title grey-text text-darken-4">Description<i class="zmdi zmdi-close pull-right"></i></span>
		      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.. <br><br>
Live site: <a href="#" target="_blank" rel="noopener noreferrer">https://jac21.github.io/FolioGeneric/</a> <br><br> Technologies utilized: <br> HTML5<br>CSS3<br>JavaScript<br>AngularJS<br>Materialize</p>
		      <p class="card-link more-info-link"><a ng-click="go('/demo-project-two')">Click here to learn about the development process...</a></p>
		    </div>

	  </div>

	</div>

	<div class="col s12 m6">

	  	<div class="card sticky-action medium hoverable">

		    <div class="card-image waves-effect waves-block waves-light">
		      <img class="activator" src="dist/images/photographer/photos/demo-photo-three.jpeg" alt="Demo Project Three">
		    </div>

		    <div class="card-content">
		      <span class="card-title activator grey-text text-darken-4">Demo Project Three<i class="zmdi zmdi-more pull-right"></i></span>
		      <p>Lorem ipsum dolor sit amet</p>
		    </div>

		    <div class="card-action">
        	<a href="#" target="_blank" rel="noopener noreferrer">GitHub Repository</a>
		      <a class = "more-info-link" ng-click="go('/demo-project-one')" tabindex=0 ng-keydown="($event.which === 13) && go('/demo-project-one')">More information...</a>
        </div>

		    <div class="card-reveal">
		      <span class="card-title grey-text text-darken-4">Description<i class="zmdi zmdi-close pull-right"></i></span>
		      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.. <br><br>
Live site: <a href="#" target="_blank" rel="noopener noreferrer">https://jac21.github.io/FolioGeneric/</a> <br><br> Technologies utilized: <br> HTML5<br>CSS3<br>JavaScript<br>AngularJS<br>Materialize</p>
		      <p class="card-link more-info-link"><a ng-click="go('/demo-project-one')">Click here to learn about the development process...</a></p>
		    </div>

		  </div>

		</div>

	<div class="col s12 m6">

	  	<div class="card sticky-action medium hoverable">

		    <div class="card-image waves-effect waves-block waves-light">
		      <img class="activator" src="dist/images/photographer/photos/demo-photo-four.jpeg" alt="Demo Project Four">
		    </div>

		    <div class="card-content">
		      <span class="card-title activator grey-text text-darken-4">Demo Project Four<i class="zmdi zmdi-more pull-right"></i></span>
		      <p>Lorem ipsum dolor sit amet</p>
		    </div>

		    <div class="card-action">
        	<a href="#" target="_blank" rel="noopener noreferrer">GitHub Repository</a>
		      <a class = "more-info-link" ng-click="go('/demo-project-two')" tabindex=0 ng-keydown="($event.which === 13) && go('/demo-project-two')">More information...</a>
        </div>

		    <div class="card-reveal">
		      <span class="card-title grey-text text-darken-4">Description<i class="zmdi zmdi-close pull-right"></i></span>
		      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.. <br><br>
Live site: <a href="#" target="_blank" rel="noopener noreferrer">https://jac21.github.io/FolioGeneric/</a> <br><br> Technologies utilized: <br> HTML5<br>CSS3<br>JavaScript<br>AngularJS<br>Materialize</p>
		      <p class="card-link more-info-link"><a ng-click="go('/demo-project-two')">Click here to learn about the development process...</a></p>
		    </div>

		  </div>

		</div>

	</div>

  	<div class="row">

  		<h1>Talks and Presentations</h1>
  		<hr>

      <div class="col s12 m12 talk-div">
      	<a href="#" target="_blank" rel="noopener noreferrer"><img class="responsive-img z-depth-2 talk-image" src="dist/images/photographer/photos/demo-photo-three.jpeg" alt="Demo Presentation"/></a>
      	<p>Presented for Some Organization</p>
      </div>

    </div>

</div>