<div class = "container">
	<h1>Demo Photoshoot</h1>
	<p class="shoot-text">for demo purposes</p>
	<div class="page-nav-options">
		<div ng-click="go('/photographer')" class="header-back-link" tabindex=0 ng-keydown="($event.which === 13) && go('/photographer')">Back</div>
	</div>
	<hr>

	<div class = "animated fadeIn">
		<div class = "col s12">
			<img class="responsive-img z-depth-2 shoot-img" src="dist/images/photographer/photos/demo-photo-one.jpg" alt="Demo One"/>
		</div>

		<div class = "col s12">
			<img class="responsive-img z-depth-2 shoot-img" src="dist/images/photographer/photos/demo-photo-two.jpg" alt="Demo Two"/>
		</div>

		<div class = "col s12">
			<img class="responsive-img z-depth-2 shoot-img" src="dist/images/photographer/photos/demo-photo-three.jpeg" alt="Demo Three"/>
		</div>

		<div class = "col s12">
			<img class="responsive-img z-depth-2 shoot-img" src="dist/images/photographer/photos/demo-photo-four.jpeg" alt="Demo Four"/>
		</div>
	</div>

	<div class="page-nav-options">
		<div ng-click="backToTop()" class="scroll-top-link">Back to Top</div>
	</div>
</div>